<% if(locals.user){%>
        <section class="home-chat-box">
            <section class="chat-heading">
                <div><h1>Community Chat</h1></div>
            </section>
            <section class="home-chats">
                <ul class="home-chat-list">
                    <!-- <li class="other-msg">
                        <span>Other Message </span>
                    </li>
                    <li class="self-msg">
                        <span>Self Message </span>
                    </li> -->
                    <%if(room){%>
                        <%for(m of room.messages){%>
                            <%if(m.email==user.email){%>
                                <li class="self-msg">
                                    <span><%=m.message%></span>
                                    <!-- <sub><%=m.email%></sub> -->
                                    <sub><%=m.createdAt.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })%></sub>
                                </li>
                            <%}else{%>
                                <li class="other-msg">
                                    <div class="other-msg-box">
                                        <div class="other-msg-user">
                                            <%let p=JSON.stringify(m.email)%>
                                            <%let id_sender=p.split("@")[0]%>
                                            <%id_sender=id_sender.replace(/["]+/g, '')%>
                                            <%=id_sender%>
                                        </div>
                                        <div class="other-msg-content">
                                            <%=m.message%>
                                            <sub><%=m.createdAt.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })%></sub>
                                        </div>
                                    </div>
                                    <!-- <span><%=m.message%></span>
                                    <sub><%=m.email%></sub> -->
                                </li>
                            <%}%>
                        <%}%>
                    <%}else{%>
                        <li class="other-msg">
                            <span>To begin type anything and send, your 1st message will
                                serve as confirmation that you want to begin the chat and 
                                will not be sent
                            </span>
                        </li>
                    <%}%>
                    
                </ul>
            </section>
            <section class="home-chat-form">
                <input type="text" class="home-chat-input" placeholder="Type your message here">
                <button id="send-home-msg"><i class="fas fa-paper-plane"></i></button>
            </section>
        </section>
<% } %>