<% if(locals.user && user.id!=profile_user.id){%>
    <%let a;let x;let y;%>
    <%x=Date.parse(user.createdAt)%>
    <%y=Date.parse(profile_user.createdAt)%>
    <%let m=(x<=y)%>
    <%if(m){%>
        <%a=user.id+profile_user.id%>
    <%}else{%>
        <%a=profile_user.id+user.id%>
    <%}%>
    <%if(a){%>
        <section class="user-chat-box" id="chat-Box-<%=a%>">
            <section class="chat-heading">
                <h1><%=profile_user.name%></h1>
            </section>
            <section class="user-chats">
                <ul class="user-chat-list">
                    <!-- <li class="other-msg">
                        <span>Other Message </span>
                    </li>
                    <li class="self-msg">
                        <span>Self Message </span>
                    </li> -->
                    <%if(room){%>
                        <%for(m of room.messages){%>
                            <%if(m.email==user.email){%>
                                <li class="self-msg">
                                    <span><%=m.message%></span>
                                    <sub><%=m.email%></sub>
                                </li>
                            <%}else{%>
                                <li class="other-msg">
                                    <span><%=m.message%></span>
                                    <sub><%=m.email%></sub>
                                </li>
                            <%}%>
                        <%}%>
                    <%}%>
                </ul>
            </section>
            <section class="user-chat-form">
                <!-- <form action="/home-msg" method="POST"> -->
                    <input type="text" class="user-chat-input" placeholder="Type your message here" name="home-msg-content">
                    <button id="send-user-msg">Send</button>
                <!-- </form> -->
            </section>
        </section>
    <%}%>
    <script>
        console.log('df');
    </script>
<% } %>