<div id="all-posts-container">
    <div id="all-posts-search">
        <div id="all-posts-search-form">
            <form action="/post/all_posts" method="GET">
                <div class="post-search-inputs">
                    <div id="search-input">
                        <label for="search">Search posts</label>
                        <input type="text" name="search" placeholder="search post">
                    </div>
                    <div class="post-search-btn-div">
                        <input id="search-post-btn" type="submit" value="Search Post">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="all-posts-main">
        <%if(searched==false){%>
            <!-- <div class="all-posts-list"> -->
                <!-- <ul> -->
                    <% for(post of posts){%>
                        <!-- <li> -->
                            <div class="individual-post" id="post-<%=post._id%>">
                                <div class="individ-post-title">
                                    <h1><%=post.title%></h1>
                                </div>
                                <div class="individ-post-det">
                                    <p>Posted By : <%=post.user.name%> &nbsp &nbsp &nbsp &nbsp Published On : <%=post.createdAt.toLocaleDateString()%></p>
                                </div>
                                <div class="individ-post-desc">
                                    <p><%=post.description%></p>
                                </div>
                                <div class="individ-post-btns">
                                    <button id="read-complete" class="all-posts-btns"><a href="/post/read_full/<%=post.id%>"><i class="fas fa-list-alt"></i> Read Complete Post</a></button>
                            <%if(locals.user&&locals.user.id==post.user.id){%>
                                <button id="destroy-btn" class="all-posts-btns"><a class="delete-post-btn" href="/post/destroy/<%=post.id%>"><i class="fas fa-trash-alt"></i> Delete Post</a></button>
                                <button id="edit-btn" class="all-posts-btns"><a href="/post/edit/<%=post.id%>"><i class="fas fa-edit"></i> Edit Post</a></button>
                            <%}%>
                                </div>
                            </div>
                        <!-- </li> -->
                    <%}%>
                <!-- </ul> -->
            <!-- </div> -->
        <%}%>
        <%if(searched==true){%>
            <%if(noMatch){%>
                <%=noMatch%>
            <%}else{%>
                <!-- <div class="all-posts-list"> -->
                    Your search results are :
                    <!-- <ul> -->
                        <% for(post of posts){%>
                            <div class="individual-post">
                            <!-- <li> -->
                                <div class="individ-post-title">
                                    <h1><%=post.title%></h1>
                                </div>
                                <div class="individ-post-det">
                                    <p>Posted By : <%=post.user.name%> &nbsp &nbsp &nbsp &nbsp Published On : <%=post.createdAt.toLocaleDateString()%></p>
                                </div>
                                <div class="individ-post-desc">
                                    <p><%=post.description%></p>
                                </div>
                                <div class="individ-post-btns">
                                    <button id="read-complete" class="create-acc-btn"><a href="/post/read_full/<%=post.id%>">Read Complete Post</a></button>
                            <%if(locals.user&&locals.user.id==post.user.id){%>
                                <button id="destroy-btn" class="create-acc-btn"><a href="/post/destroy/<%=post.id%>">Delete Post</a></button>
                                <button id="edit-btn" class="create-acc-btn"><a href="/post/edit/<%=post.id%>">Edit Post</a></button>
                            <%}%>
                                </div>
                            </div>
                        <%}%>
                    <!-- </ul> -->
            <%}%>
        <%}%>
    <!-- </div> -->
</div>
</div>