<h1><%=post.title%></h1>
<br>
<p>Posted By : <%=post.user.name%> &nbsp &nbsp &nbsp &nbsp Published On : <%=post.createdAt.toLocaleDateString()%></p>
<p><%=post.description%></p>
<p><%-post.sanitizedHtml%></p>