<div class="post-container">
    <div class="post-main-head">
        <div id="post-heading">
            <h1><%=cur_post.title%></h1>
        </div>
        <div id="post-cred">
            <div>
                <i class="fas fa-feather-alt"></i>
                Posted By : <%=cur_post.user.name%>
            </div>
            <div>
                <i class="fas fa-calendar-day"></i>
                Published On : <%=cur_post.createdAt.toLocaleDateString()%>
            </div>
            <% if(locals.user.id==cur_post.user.id){%>
                <div>
                    <button class="full-post-head-btns"><a href="/post/destroy/<%=cur_post.id%>"><i class="fas fa-trash-alt"></i> Delete Post</a></button>
                </div>
                <div>
                    <button class="full-post-head-btns"><a href="/post/edit/<%=cur_post.id%>"><i class="fas fa-edit"></i> Edit Post</a></button>
                </div>
            <%}%>
            <div>
                <% if(locals.user){%>
                    <form action="/likes/toggle/?id=<%=cur_post._id%>&type=Post" method="POST">
                        <%var see=false%>
                        <%for(like of cur_post.likes){%>
                            <% if(locals.user==like.user){%>
                                <%see=true;%>
                                <button class="full-post-head-btns hover-pointer liked" type="submit"><%=cur_post.likes.length%> <i class="far fa-thumbs-up"></i></button>
                                <%break;%>
                            <%}%>
                        <%}%>
                        <%if(see==false){%>
                            <button class="full-post-head-btns hover-pointer" type="submit"><%=cur_post.likes.length%> <i class="far fa-thumbs-up"></i></button>
                        <%}%>
                    </form>
                    <!-- <a class="toggle-like-button" href="/likes/toggle/?id=<%=cur_post._id%>&type=Post"> -->
                        <!-- <%=cur_post.likes.length%>Likes -->
                    <!-- </a> -->
                <%}else{%>
                    <%=cur_post.likes.length%>Likes
                <%}%>
            </div>
        </div>
    </div>
    <div class="post-main-desc">
        <p><%=cur_post.description%></p>
    </div>
    <div class="post-main-body">
        <p><%-cur_post.sanitizedHtml%></p>
    </div>
</div>

<div class="post-comments">
    <div id="post-full-cmnts">
        <form action="/comment/create" id="create-comment-form-<%=cur_post._id%>" method="POST">
            <textarea name="content" id="" cols="80" rows="4" placeholder="Add you comment here...." required></textarea>
            <!-- <input type="textarea" name="content" class="comment-text" placeholder="Add you comment here...." required> -->
            <input type="hidden" name="post" value="<%=cur_post._id%>">
            <input type="submit" class="create-acc-btn" value="Add Comment">
        </form>
    </div>
        <div id="post-comments-list">
            <ul id="post-comments-<%=cur_post._id%>">
                <% for(comment of cur_post.comments){%>
                    <li>
                        <% if(locals.user.id==comment.user.id){%>
                            <div>
                                <button class="post-comment-delete"><a href="/comment/destroy/<%=comment.id%>"><i class="fas fa-trash-alt"></i> Delete Comment</a></button>
                            </div>
                        <%}%>
                        <p>
                            <%=comment.content%>
                            <br>
                            <%=comment.user.name%>
                            <% if(locals.user){%>
                                <%=comment.likes.length%> likes
                                <form action="/likes/toggle/?id=<%=comment._id%>&type=Comment" method="POST">
                                    <button id="likee-cmnt" class="hover-pointer" style="background-color: inherit; border: none; color:#0b90c4;" type="submit"><i style="font-size: 2rem;" class="fas fa-thumbs-up"></i></button>
                                </form>
                            <%}else{%>
                                <%=comment.likes.length%>Likes
                            <%}%>
                        </p>
                    </li>
                <%}%>
            </ul>
        </div>
</div>