<link rel="stylesheet" href="<%=assetPath('css/home.css')%>">
<br><br>

<!-- later will convert to followers and suggestion kind -->
<div id="all-users">
    <div id="all-users-search">
        <div id="all-users-search-form">
            <div id="find-by-name">
                <form action="/" method="GET">
                    <div class="user-search-inputs">
                        <div id="u-search-input">
                            <label for="search">Search User by name</label>
                            <input type="text" name="namesearch" placeholder="find by name">
                        </div>
                        <div class="post-search-btn-div">
                            <input class="search-user-btn" type="submit" value="Search User">
                        </div>
                    </div>
                </form>
            </div>
            <div id="find-by-topic">
                <form action="/" method="GET">
                    <div class="user-search-inputs">
                        <div id="u-search-input">
                            <label for="search">Search User by topics</label>
                            <input type="text" name="topicsearch" placeholder="find by topic">
                        </div>
                        <div class="post-search-btn-div">
                            <input class="search-user-btn" type="submit" value="Search User">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <%if(searched==false){%>
            <h4>All Users</h4>
        <% for(u of all_users){%>
            <p>
                <div class="home-user-details">
                    <div>
                        <img src="<%=u.avatar%>" alt="<%=u.name%>" width="80">
                    </div>
                    <div>
                        <%if(locals.user&&user.id==u.id){%>
                            <a href="/users/profile/<%=u.id%>"><%=u.name%>(You)</a>
                        <%}else{%>
                            <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
                        <%}%>
                    </div>
                </div>
            </p>
        <%}%>
        <%}else if(by_name){%>
            <h4>Search Results : </h4>
            <%if(noMatch){%>
                <%=noMatch%>
            <%}else{%>
                <% for(u of all_users){%>
                    <p>
                        <div class="home-user-details">
                            <div>
                                <img src="<%=u.avatar%>" alt="<%=u.name%>" width="80">
                            </div>
                            <div>
                                <%if(locals.user&&user.id==u.id){%>
                                    <a href="/users/profile/<%=u.id%>"><%=u.name%>(You)</a>
                                <%}else{%>
                                    <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
                                <%}%>
                            </div>
                        </div>
                    </p>
                <%}%>
            <%}%>
        <%}else{%>
            <h4>Search Results : </h4>
            <%if(noMatch){%>
                <%=noMatch%>
            <%}else{%>
                <%for(cur_topic of all_topics){%>
                    <% for(u of cur_topic.users){%>
                        <p>
                            <div class="home-user-details">
                                <div>
                                    <img src="<%=u.avatar%>" alt="<%=u.name%>" width="80">
                                </div>
                                <div>
                                    <%if(locals.user&&user.id==u.id){%>
                                        <a href="/users/profile/<%=u.id%>"><%=u.name%>(You)</a>
                                    <%}else{%>
                                        <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
                                    <%}%>
                                </div>
                            </div>
                        </p>
                    <%}%>
                <%}%>
            <%}%>
        <%}%>
    </div>
    <%- include('_home_chat') -%>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<%if(locals.user){%>
    <script src="<%=assetPath('js/home_chat_engine.js')%>"></script>
    <script>
        new ChatEngine('home-chat-box','<%=locals.user.email%>');
    </script>
    
    <script>
        console.log('somethong');
    </script>
    
<%}%>