<html>
    <head>
        <title> <%=title%> </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%-style%>
    </head>
</html>
<link rel="stylesheet" href="/css/layout.css">
<body>
    <%-include('_header');%>
    <%- body %>
    <%-include('_footer');%>
</body>