<html>
    <head>
        <title> <%=title%> </title>
        <!-- ----------------Fontawesome------------------------ -->
	    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
	    <!-- --------X--------Fontawesome---------------X----- -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/log-in.css">
        <link rel="stylesheet" href="/css/sign-up.css">
        <%-style%>
    </head>
</html>
<body>
    <%-include('_header');%>
    <%- body %>
    <%-include('_footer');%>
    <script>
        <% if(flash.success && flash.success.length>0){ %>
            new Noty({
                theme:'mint',
                text: '<%=flash.success%>',
                type:'success',
                layout:'topCenter',
                timeout:1500
            }).show();
        <%}%>
        <% if(flash.error && flash.error.length>0){ %>
            new Noty({
                theme:'mint',
                text: '<%=flash.error%>',
                type:'error',
                layout:'topCenter',
                timeout:1500
            }).show();
        <%}%>
        <% if(flash.warning && flash.warning.length>0){ %>
            new Noty({
                theme:'mint',
                text: '<%=flash.warning%>',
                type:'warning',
                layout:'topCenter',
                timeout:1500
            }).show();
        <%}%>
    </script>
</body>