<html>
    <head>
        <title> <%=title%> </title>
        <!-- ----------------Fontawesome------------------------ -->
	    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
	    <!-- --------X--------Fontawesome---------------X----- -->
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/log-in.css">
        <link rel="stylesheet" href="/css/sign-up.css">
        <%-style%>
    </head>
</html>
<body>
    <%-include('_header');%>
    <%- body %>
    <%-include('_footer');%>
</body>