<html>
    <head>
        <title> <%=title%> </title>
        <link rel="icon" href="/images/title_logo.jpg" type="image/icon">
        <!-- ----------------Fontawesome------------------------ -->
	    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
	    <!-- --------X--------Fontawesome---------------X----- -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/log-in.css">
        <link rel="stylesheet" href="/css/sign-up.css">
        <link rel="stylesheet" href="/css/full-post.css">
        <link rel="stylesheet" href="/css/new-post.css">
        <link rel="stylesheet" href="/css/all-posts.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/home-chat.css">
        <link rel="stylesheet" href="/css/user-chat.css">
        <%-style%>
    </head>
</html>
<body>
    <%-include('_header');%>
    <%- body %>
    <%-include('_footer');%>
    <%- script %>
    <script>
        <% if(flash.success && flash.success.length>0){ %>
            new Noty({
                theme:'mint',
                text: '<%=flash.success%>',
                type:'success',
                layout:'topCenter',
                timeout:2600
            }).show();
        <%}%>
        <% if(flash.error && flash.error.length>0){ %>
            new Noty({
                theme:'mint',
                text: '<%=flash.error%>',
                type:'error',
                layout:'topCenter',
                timeout:2600
            }).show();
        <%}%>
        <% if(flash.warning && flash.warning.length>0){ %>
            new Noty({
                theme:'mint',
                text: '<%=flash.warning%>',
                type:'warning',
                layout:'topCenter',
                timeout:2600
            }).show();
        <%}%>
        <% if(flash.alert && flash.alert.length>0){ %>
            new Noty({
                theme:'sunset',
                text: '<%=flash.alert%>',
                type:'alert',
                layout:'topCenter',
                timeout:2600
            }).show();
        <%}%>
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script> -->
    <!-- <%if(locals.user){%>
        <script src="/js/home_chat_engine.js"></script>
        <script>
            new ChatEngine('home-chat-box','<%=locals.user.email%>');
        </script>
        
        <script>
            console.log('somethong');
        </script>
        
    <%}%> -->
</body>