<h1>user profile</h1>
<%if(user.id==profile_user.id){%>
    <form action="/users/update/<%=profile_user.id%>" method="POST">
        <input type="text" name="name" placeholder="Your name" value="<%=profile_user.name%>" required>
        <input type="submit" value="Update">
    </form>
    <p><%=profile_user.email%></p>
<%}else{%>
    <p><%=profile_user.name%></p>
    <p><%=profile_user.email%></p>
<%}%>
