<div id="profile-page-div">

<div id="profile-page-head">
<%if(user.id==profile_user.id){%>
    <h1>Your profile</h1>
<%}else{%>
    <h1><%=profile_user.name%>'s profile</h1>
<%}%>
</div>
<div id="profile-page-image">
        <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>">
</div>
<div id="profile-followers-count">
    <p>
        <%=profile_user.nfollowers%> followers
    </p>
</div>
<div id="profile-interested-in">
        <h3>Interseted In :</h3>
        
        <%if(profile_user.topics.length==0){%>
            Here topics user has added as his interest will be shown
        <%}else{%>
            <ul>
                <%for(topic of profile_user.topics){%>
                    <li class="gold-color">
                        <%=topic.name%>
                    </li>
                <%}%>
            </ul>
        <%}%>
</div>
<%if(user.id==profile_user.id){%>
    <div id="profile-update">
        <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="POST">
            <input class="profile-name-change" type="text" name="name" placeholder="Your name" value="<%=profile_user.name%>" required>
            <input class="custom-file-input" type="file" name="avatar" placeholder="Profile picture">
            <input class="follow-unfollow" type="submit" value="Update">
        </form>
    </div>
    <div id="profile-interests-form">
        <p>
            <h3>Add topics</h3>
            <form action="/topics/add/<%=profile_user.id%>" method="POST">
                <input class="profile-name-change" type="text" name="name" placeholder="New topic name">
                <input class="follow-unfollow" type="submit" value="Add Interest">
            </form>
        </p>
    </div>
    <div id="profile-email">
        <p><%=profile_user.email%></p>
    </div>
<%}else{%>
    <div id="profile-user-info">
        <p><%=profile_user.name%></p>
        <p><%=profile_user.email%></p>
    </div>
    <div id="profile-connections-form">
        <form action="/manage-connection/<%=profile_user.id%>" method="POST">
            <%let allconn=false%>
            <%for(connection of profile_user.connections){%>
                <%if(connection.following.id==profile_user.id){%>
                    <%allconn=true%>
                <%}%>
            <%}%>
            <%if(allconn){%>
                <button class="follow-unfollow" type="submit">Unfollow</button>
            <%}else{%>
                <button class="follow-unfollow" type="submit">Follow</button>
            <%}%>
        </form>
    </div>
<%}%>
<div class="profile-all-followers">
        <h3>All followers</h3>
        <ul>
            <%for(connection of profile_user.connections){%>
                <%if(connection.following.id==profile_user.id){%>
                    <li><a href="/users/profile/<%=connection.follower.id%>"><%=connection.follower.name%></a></li>
                <%}%>
            <%}%>
        </ul>
</div>
<div class="profile-all-followers">
        <h3>Following</h3>
        <ul>
            <%for(connection of profile_user.connections){%>
                <%if(connection.follower.id==profile_user.id){%>
                    <li><a href="/users/profile/<%=connection.following.id%>"><%=connection.following.name%></a></li>
                <%}%>
            <%}%>
        </ul>
</div>
<!-- connection.follower==profile_user.id|| -->
<%if(posts.length>0){%>
    <div id="profile-user-posts">
        <p>
            Posts by <%=profile_user.name%>
            <ul>
                <% for(post of posts){%>
                    <li>
                        <h1><%=post.title%></h1>
                        
                        <p>Published On : <%=post.createdAt.toLocaleDateString()%></p>
                        <p><%=post.description%></p>
                        <button id="read-complete" class="all-posts-btns"><a href="/post/read_full/<%=post.id%>">Read Complete Post</a></button>
                        <%if(locals.user&&locals.user.id==post.user){%>
                            <button id="destroy-btn" class="all-posts-btns"><a href="/post/destroy/<%=post.id%>">Delete Post</a></button>
                            <button id="edit-btn" class="all-posts-btns"><a href="/post/edit/<%=post.id%>">Edit Post</a></button>
                        <%}%>
                    </li>
                <%}%>
            </ul>
        </p>
    </div>
<%}else{%>
    <div id="profile-posts-unavailable-info">
        Here user's posts will be shown. As of now he has not posted anything
    </div>
<%}%>
<%- include('_user_chat') -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<%if(locals.user && user.id!=profile_user.id){%>
    <%let a;let x;let y;%>
    <%x=Date.parse(user.createdAt)%>
    <%y=Date.parse(profile_user.createdAt)%>
    <%let m=(x<=y)%>
    <%if(m){%>
        <%a=user.id+profile_user.id%>
    <%}else{%>
        <%a=profile_user.id+user.id%>
    <%}%>
    <script src="<%=assetPath('js/user_chat_engine.js')%>"></script>
    <script>
        new ChatEngineUser('chat-Box-<%=a%>','<%=locals.user.email%>','<%=profile_user.id%>');
    </script>
    
    <script>
        console.log('somethong');
    </script>
    
<%}%>

</div>