<h1><%=profile_user.name%>'s profile</h1>
<p>
    <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>" width="100">
</p>
<p>
    <%=profile_user.nfollowers%> followers
</p>
<p>
    Interseted In :
    <ul>
        <%for(topic of profile_user.topics){%>
            <li>
                <%=topic.name%>
            </li>
        <%}%>
    </ul>
</p>
<%if(user.id==profile_user.id){%>
    <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your name" value="<%=profile_user.name%>" required>
        <input type="file" name="avatar" placeholder="Profile picture">
        <input type="submit" value="Update">
    </form>
    <p>
        Add topics
        <form action="/topics/add/<%=profile_user.id%>" method="POST">
            <input type="text" name="name" placeholder="New topic name">
            <input type="submit" value="Add Interest">
        </form>
    </p>
    <p><%=profile_user.email%></p>
<%}else{%>
    <p><%=profile_user.name%></p>
    <p><%=profile_user.email%></p>
    <form action="/manage-connection/<%=profile_user.id%>" method="POST">
        <%let allconn=false%>
        <%for(connection of profile_user.connections){%>
            <%if(connection.following.id==profile_user.id){%>
                <%allconn=true%>
            <%}%>
        <%}%>
        <%if(allconn){%>
            <button type="submit">Unfollow</button>
        <%}else{%>
            <button type="submit">Follow</button>
        <%}%>
    </form>
<%}%>
<p>
    All followers
    <ul>
        <%for(connection of profile_user.connections){%>
            <%if(connection.following.id==profile_user.id){%>
                <li><a href="/users/profile/<%=connection.follower.id%>"><%=connection.follower.name%></a></li>
            <%}%>
        <%}%>
    </ul>
</p>
<p>
    Following
    <ul>
        <%for(connection of profile_user.connections){%>
            <%if(connection.follower.id==profile_user.id){%>
                <li><a href="/users/profile/<%=connection.following.id%>"><%=connection.following.name%></a></li>
            <%}%>
        <%}%>
    </ul>
</p>
<!-- connection.follower==profile_user.id|| -->
<%if(posts.length>0){%>
    <p>
        Posts by <%=profile_user.name%>
        <ul>
            <% for(post of posts){%>
                <li>
                    <h1><%=post.title%></h1>
                    
                    <p>Published On : <%=post.createdAt.toLocaleDateString()%></p>
                    <p><%=post.description%></p>
                    <button><a href="/post/read_full/<%=post.id%>">Read Complete Post</a></button>
                    <%if(locals.user&&locals.user.id==post.user){%>
                        <button><a href="/post/destroy/<%=post.id%>">Delete Post</a></button>
                        <button><a href="/post/edit/<%=post.id%>">Edit Post</a></button>
                    <%}%>
                </li>
            <%}%>
        </ul>
    </p>
<%}else{%>
    Here your posts will be shown. As of now you have'nt posted anything
<%}%>