<h1>user profile</h1>
<p>
    <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>" width="100">
</p>
<%if(user.id==profile_user.id){%>
    <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your name" value="<%=profile_user.name%>" required>
        <input type="file" name="avatar" placeholder="Profile picture">
        <input type="submit" value="Update">
    </form>
    <p><%=profile_user.email%></p>
<%}else{%>
    <p><%=profile_user.name%></p>
    <p><%=profile_user.email%></p>
<%}%>
